* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rajdhani", sans-serif;
}
a {
  text-decoration: none;
}
i {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
}
ul {
  list-style: none;
}

.padre {
  margin-top: 0;
  padding-top: 0;
  background-color: #aaa;
  display: flex;
  flex-flow: column nowrap;
}
header {
  background: #000;
  /* background-color: transparent; */
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  z-index: 1111;
}

.capa {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  top: 100px;
  left: 0;
}

.banner {
  background: url(../img/fondo_calido.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  width: 100%;
  height:90vh;
  justify-content: center;
  align-items: center;

}
.banner .container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin:0;
  height: 90%; 
  text-align: center;
}
.info{
  width: 100%;

}
.info__envios{
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.banner__sombra  p{
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: #fff;
  font-size: 4vh;}

.banner__sombra {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 50px;
  left: 50px;
  /* width: 80%; */
  /* height: 75%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner img {
  width: 50vmin;
}
.banner__info{ 
  display:flex;
  flex-flow: column nowrap;
  width: 70%;
text-align: center;
font-family: 'Marck Script', cursive;
color: #FFFFFF;
text-shadow: 4px 4px 4px #000, 2px 2px 2px #fff;
}
.banner__info h2{
  font-size: 7vh;
  font-weight: normal;
  margin-bottom: 0;
}

/* .banner__info p {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 0;
} */



.videos {
  background-color: #fd5d5d;
  flex: 1 1 auto;
}
.videos__ejemplos {
  background-color: #fff7bc;
}
.aside__articulos {
  background-color: #f4bfbf;
}

@media all and (max-width: 800px) {
  .muestras {
    display: flex;
    flex-flow: column;
  }
  .videos {
    display: flex;
  }
  .videos__ejemplos {
    flex: 1 1 auto;
  }
  .menu__logo img {
    width: 10vw;
    min-width: 5vw;
    margin: 0;
    padding: 0;
  }
}
@media all and (max-width: 600px) {
  .muestras__articulos {
    display: flex;
    flex-flow: column;
  }
  .menu__logo img {
    width: 10vw;
    min-width: 5vw;
    margin: 0;
    padding: 0;
  }
}
@media all and (max-width: 400px) {
  .videos {
    display: flex;
    flex-direction: column;
  }
  .menu__logo img {
    width: 10vw;
    min-width: 5vw;
    margin: 0;
    padding: 0;
  }
  /* header {
    background: url(../img/fondo1.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 50vh;
  } */
}
